<div class="header">
    <div class="header_name">
        <h1>メモアプリ</h1>
    </div>
</div>

<div class="container">
    <div class="memo-items">
        <div class="memo-items__title">
            <%= @memo_title %>
        </div>
        <div class="memo-items__body">
            <%= @memo_body %>
        </div>
    </div>
    <div class="buttons">
        <form class="buttons__edit" method="get" action="/edit/<%= @index %><%= @index %>">
            <input type="submit" value="変更">
        </form>
        <form class="buttons__delete" method="post" action="/delete/<%= @index %>">
            <input type="submit" value="削除">
            <input type="hidden" name="_method" value="delete">
        </form>
    </div>
    <div class="return">
        <a href="/">戻る</a>
    </div>
</div>
